<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TODOApp"
        tools:targetApi="31">

        <!-- Main entry point of the app -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for creating a new card -->
        <activity
            android:name=".CreateCard"
            android:exported="false"
            android:theme="@style/Theme.TODOApp" />

        <!-- Activity for displaying and updating existing cards -->
        <activity
            android:name=".UpdateCard"
            android:exported="false" />

        <!-- Main activity of the app -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Receiver for handling task reminders -->
        <receiver
            android:name=".NotificationReceiver"
            android:exported="true">
            <!-- No android:permission attribute needed -->
        </receiver>

        <!-- Receiver for handling device boot completion -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
